/* Body Texts */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* Paragraph */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

:root{
    --background-color: hsl(222, 95%, 4%); 
    --holder-base-color: hsl(222, 95%, 10%);

    --main-text: hsl(0, 0%, 100%);
    --secondary-text: hsl(0, 0%, 80%);
    --tertiary-text: hsl(0, 0%, 60%);

    --text-purple: hsl(275, 65%, 45%);
    --text-green: hsl(155, 75%, 45%);
    --text-red: hsl(345, 65%, 30%); 
    --text-blue: hsl(220, 65%, 60%); 

    --grad-orange: hsl(20, 100%, 65%);
    --grad-purple: hsl(340, 70%, 50%);
    --grad-blue: hsl(236, 90%, 35%);
    --grad-purple: hsl(275, 65%, 45%);

    --button-color: hsl(275, 35%, 95%);
    --button-hover: hsl(275, 35%, 85%); 
    
    --border: 1px solid hsl(0, 0%, 20%);
    --border-white: 1px solid hsl(0, 0%, 50%);
    --border-purple: 1px solid hsl(275, 65%, 50%);
    --border-yellow: 1px solid hsl(50, 80%, 50%);

    --highlight-red: hsl(0, 80%, 50%); 
    --highlight-yellow: hsl(50, 80%, 60%); 
    --highlight-purple: hsl(257, 100%, 60%);
    --highlight-green: hsl(130, 80%, 60%);
    --highlight-blue: hsl(220, 80%, 60%);

    --card-texts: Mozilla Text;
    --p-font: JetBrains Mono;
    --button-font: JetBrains Mono;

    --p-font-size: 10pt;

    --purple-outer-glow: 0 0 20px 0 hsl(275, 65%, 50%);
    --yellow-outer-glow: 0 0 20px 0 hsl(50, 80%, 50%);

    --hero-image-size: 500px;

}     

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url(assets/grid.png); */
    background-color: var(--background-color);
    background-blend-mode: screen;
    background-size: cover;
    background-repeat: no-repeat;
}

/* The starting hidden state */
.jsanimate {
  opacity: 0;
  scale: 0;
  transform: translateY(40px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  will-change: opacity, transform; /* Optimizes browser rendering performance */
}

/* The active visible state triggered by JS */
.jsanimate.is-visible {
  opacity: 1;
  scale: 1;
  transform: translateY(0);
}

.heading-animate.is-visible{
    animation: pop 1s ease-in-out;
}

.btn.is-visible{
    animation: bounce 1.5s ease-in-out;
}

.card.is-visible{
    animation: bounce 1.5s ease-in-out;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, p:hover{
    cursor: default;
}

button{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background-color: var(--highlight-yellow);
    box-shadow: none;
    transition: 0.6s;

    font-family: var(--button-font);
}

button:hover{
    background-color: var(--button-hover);
    cursor: pointer;
    color: var(--text-purple);
    transform: translateY(-3px);
}

.lights img{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1000;

    background-blend-mode: screen;

    opacity: 0.2;
}

.cursorlight img{
    height: 600px;
    position: fixed;

    background-blend-mode: screen;

    opacity: 0.3;
}

#cursorLightPng {
  position: fixed;
  pointer-events: none; 
  /* The Fix: Shifts the image left and up by half its own width and height */
  transform: translate(-50%, -50%); 
  z-index: 9999; 
}

/* COMMON */
.hero-image img{
    height: var(--hero-image-size);

    transition: 0.6s;
}

.hero-image img:hover{
    scale: 1.1;
    cursor: none;
}

.text-section-heading p{
    font-family: sans-serif;
    color: var(--highlight-yellow);
    font-size: var(--p-font-size);
    margin-bottom: 1vh;

    letter-spacing: 3pt;
}

.universal-card-texts{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 1vh;

}

.universal-card-texts h1, h2, h3, h4, h5{
    font-size: 12pt;
    font-family: var(--card-texts);
    color: var(--main-text);
}

.universal-card-texts h2{
    font-size: 10pt;
    color: var(--secondary-text);
}

.universal-card-texts h5{
    background-color: var(--holder-base-color);
    font-size: 8pt;
    color: var(--highlight-red);
    border: 1px solid var(--border);

    border-radius: 20px;

    padding: 6pt;

    width: 120px;
    text-align: center;
}

.universal-card-points{
    display: flex;
    flex-direction: row;

    gap: 0.5vw;
}

.universal-card-points h5{
    color: var(--secondary-text);
    font-size: 9pt;
    width: auto;
}

.universal-heading h1{
    font-size: 40pt;
    color: var(--main-text);
    font-family: Barrio;
    letter-spacing: 4pt;
    line-height: 40pt;
}

.cardholder{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.card{
    padding: 2vh;

    height: 400px;
    width: 350px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    gap: 1vh;

    border: var(--border);
    border-radius: 20px;

    transition: 0.6s;
}

.card:hover{
    scale: 1.05;
    transform: translateY(-2px);

    box-shadow: var(--purple-outer-glow);
    border: var(--border-yellow);
}


#section-heading{
    display: flex;
    align-items: center;

    gap: 2vw;
}

#section-heading a{
    text-decoration: none;

    border: var(--border-white);
    border-radius: 10px;

    width: 80px;
    height: 30px;
    padding-top: 5px;
    text-align: center;

    font-family: var(--card-texts);
    font-size: 10pt;
    color: var(--secondary-text);

    transition: 0.6s;

}

#section-heading a:hover{
    scale: 1.05;
    transform: translateY(-2px);

    background: var(--holder-base-color);
}


/* COMMON ^ */

#header{
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    height: 80px;
    padding-top: 10px;
    width: 100vw;

    background: transparent;
    backdrop-filter: blur(10px);

    border-radius: 10px;

    z-index: 9999;
}

header{
    /* background-color: var(--holder-base-color); */
    /* background-image: url(assets/NoiseLights.png); */
    /* background-image: linear-gradient(45deg, var(--highlight-yellow) 10%, var(--background-color) 90%); */
    
    height: 60px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;
}

.headleft img{
    height: 40px;
}

.navbar{
    display: flex;
    gap: 2.5vw;
}

.navbar a{
    font-size: var(--p-font-size);
    font-family: var(--card-texts);
    text-decoration: none;
    color: var(--tertiary-text);
    letter-spacing: 1pt;

    transition: 0.3s;
}

.navbar a:hover{
    color: var(--highlight-yellow);
    scale: 1.01;
    transform: translateY(-2px);
}

.headright{
    display: flex;
    flex-direction: row;

    gap: 0.6vw;
}

.headright img{
    height: 35px;
    border-radius: 100%;

    transition: 0.5s;
}

.headright img:hover{
    /* box-shadow: 0 0 20px 5px var(--text-blue); */
    scale: 1.05;

    transform: translateY(-2px);
}

#introduction{
    background-image: url(assets/grid.png);
    background-position: center;

    scroll-margin-top: 100vh;
}

.intro{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    gap: 4vw;

    margin-top: 200px;
}

.introleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}

.introleft p{
    color: var(--highlight-yellow);
    /* font-family: Atkinson Hyperlegible; */
    font-family: var(--p-font);
    letter-spacing: 1pt;
    font-size: var(--p-font-size);

    transition: 0.6s;
}

#text-intro-heading-1{
    color: var(--highlight-purple);
}

#text-intro-heading-2{
    color: var(--highlight-green);
}

.introleft h1{
    font-size: 60pt;
    font-weight: 1000;
    color: var(--secondary-text);
    font-family: 'Black Ops One', system-ui, sans-serif;;
    line-height: 10vh;

    transition: 0.6s;
}

#myname{
    font-size: 65pt;
    color: var(--main-text);
}

.introleft h1:hover, .introleft p:hover{
    cursor: none;
}

#myname:hover{
    color: var(--highlight-red);
    letter-spacing: 1pt;
}


#whatido{
    color: var(--tertiary-text);
}

.contact-intro-btn-section button{
    font-size: 10pt;
}

.intro-btn{
    display: flex;
    gap: 1vw;
}

#cv-download{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: transparent;
    backdrop-filter: blur(100px);
    border: var(--border-yellow);

    background: var(--holder-base-color);
}

#cv-download:hover{
    background: var(--text-blue);
}

#cv-download img{
    height: 20px;
}

.contact-intro-btn{
    background: var(--holder-base-color);
    border: 1px solid var(--tertiary-text);
    width: auto;
    height: auto;
    padding: 6px;

    color: var(--tertiary-text);

    align-items: center;
    justify-content: center;
}

.contact-intro-btn:hover{
    box-shadow: var(--outer-glow);
    border: var(--border-purple);
}

/* SKILL SECTION */
#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;

    scroll-margin-top: 20vh;
    margin: 50vh;
}

#skills .card{
    height: 160px;
    width: 320px;

    justify-content: start;
}

/* SKILL SECTION */

/* CERTIFICATION */
#certification{
    /* background: red; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;

    scroll-margin-top: 20vh;
}


.certimgholder{
    /* background: blue; */
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.certimgholder img{
    height: 220px;
    border-radius: 20px;
}

.viewcert{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transition: 0.6s;
}

.viewcert a{
    text-decoration: none;
    font-family: var(--card-texts);
    color: var(--highlight-yellow);
    font-size: 10pt;
}

.viewcert:hover{
    scale: 1.05;
}

.viewcert img{
    height: 15px;
}

/* CERTIFICATION ^ */

/* ABOUT ME SECTION */
#about-me{
    margin-top: 50vh;
    margin-bottom: 50vh;
    scroll-snap-type: y mandatory;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutme{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 2vw;
}

.vrline{
    /* background: var(--border-white); */
    border: var(--border-white);
    width: 1px;
    height: 500px;
}

#aboutmeire{
    color: var(--highlight-green);
    letter-spacing: 4pt;
}

#my-bio{
    margin-top: 2vh;
}

#my-bio{
    font-family: var(--card-texts);
    font-size: var(--p-font-size);
    color: var(--tertiary-text); 
}

#engtext{
    color: var(--highlight-purple);
}

/* STORY SECTION */
#story{
    scroll-margin-top: 25vh;
    margin-top: 50vh;
    margin-bottom: 50vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;

    /* background: red; */
}

.story-card-holder{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.story-card-holder .storycard{
    background: transparent;
    height: 120px;
    width: 550px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 2vw;
    
    gap: 1vw;

    transition: 0.6s;
}

.story-card-holder .storycard:hover{
    background: var(--holder-base-color);
    cursor: none;
    scale: 1.05;
    transform: translateY(-10px);

    border: var(--border-yellow);
    border-radius: 30px;
}

#story h4{
    color: var(--highlight-yellow);
    font-size: 14pt;
    font-family: var(--card-texts);
    letter-spacing: 6pt;
}

#story h1, #story h2, #story h3{
    font-size: 14pt;
    font-family: var(--card-texts);
    color: var(--main-text);
}

#story h2{
    font-size: 12pt;
    color: var(--secondary-text);
}

#story h3{
    font-size: 10pt;
    color: var(--tertiary-text);
}

#storyright h1, #storyright h2, #storyright h3, #storyright h4, #storyright h5{
    text-align: right;
}

#storyright .storycard{
    justify-content: right;
}

.story-img img{
    height: var(--hero-image-size);
}